</main>
<footer>
  <p>&copy; 2025 USA Military Departments of Defense</p>
</footer>

<script>
  const hamburger = document.getElementById('hamburger');
  const navLinks = document.getElementById('nav-links');

  hamburger.addEventListener('click', () => {
    navLinks.classList.toggle('active');
  });
</script>

</body>
</html>
